@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
.navtainer
{
    display:flex;
    background-color: #A4C6EE;
    width:100%;
}

.topbar {
    background-color: #A4C6EE;
    width: 100%; 
}

.topnav {
    background-color: #A4C6EE;
    overflow: hidden;
    width: 100%;
    padding-right:20px;
}

/* Style the links inside the navigation bar */
.topnav-right a {
    float: left;
    position: relative;
    color: #3A5485;
    text-align: center;
    padding:10px 20px 20px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border-bottom:solid 3px transparent;
    margin-bottom: -8px;

}

/* Change the color of links on hover */
.topnav-right a:hover {
    color: white;
    border-bottom: solid 3px white;
}

/* Add a color to the active/current link */
.topnav-right a.active {
    color: white !important;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
.topnav #myLinks {
  display: none;
}
.topnav-right a.icon {
  display: block;
    float: left;
  position: absolute;
  right: 0px;
  top: 0px;
    width: 110%;
    height:auto;
}
.dropdown-menu {
    background-color: #505A6B !important;
}

.white {
    color: #A4C6EE !important;
}

.dropdown-item:hover {
    background-color: #505A6B !important;
    color: white !important;
    border-bottom:solid 3px transparent !important;
}

.logo {
    display: flex;
    float: left;
    padding-top: 5px;
    max-width: 350px;
    height: auto;
}

img {
    height: auto;
    width: auto;
}

.lowerbar{
    background-color: #505A6B;
    width: 100%;  
    padding: 10px 15px;
    margin-bottom: 50px;
}

.B {
    cursor: pointer;
    color: #A4C6EE;
    font-size: 20px;
}

.B:hover {
    cursor: pointer;
    color: white;
}


.roles {
    display: flex;
    justify-content: space-between;	
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    padding-right: 20px;
    padding-left: 20px;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    
}

.box2{
    background-color: #505A6B;
    padding-top: 50px;
    padding-bottom: 60px;
    width:100%;
}


.responsive {
  width: 100%;
  height: auto;
}

.box4{
    height: auto;
    min-height: 200px;
    width: auto;
    display: flex;
    position: absolute;
    bottom: -25px;
    align-self: center;
    align-content: center;
    justify-content: center;
    background-color: #505A6B;
    border-radius: .25rem;
    padding-bottom: 30px;
    margin-bottom: -10px;
   
}

.greeting{
    /* font-color: #505A6B !important; */
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

p{
    padding: 10px 15px 15px 15px;
    color: white;
    font-family: 'Roboto';
    justify-content: center;

}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    font-family: 'Roboto';
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-content: center;
    justify-self: center;

}

/* Number text (1/3 etc) */
.movingtext {
    font-family: 'Roboto';
    position: absolute;
    text-align: left;
    top: 0;
    padding-right: 35px;
    margin-bottom: 50px;
}

h1{
    color:  #A4C6EE;
    font-size: 40px;
    font-family: 'Roboto';
    text-align:justify;
    font-weight: bold;
}
h2, .typewrite {
    color: #505A6B !important;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    line-height: 3px;
}

.btn {
    top: 50%;
    font-size:20px;
    font-family: 'Roboto';
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 40px;
    position: absolute;
    background-color: #A4C6EE !important;
    border: 0px !important;
    text-align: center;
}

.save {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative !important;
    width: 20% !important;
}
.join {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    background-color: #505A6B;
}

.join label {
    color: white;
}

.form {
    width: 50%;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

button:hover
{
 box-shadow:
1px 1px #4D4F50,
2px 2px #4D4F50,
3px 3px #4D4F50,
4px 4px #4D4F50,
5px 5px #4D4F50,
6px 6px #4D4F50;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}

.i:hover{
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white,
    4px 4px white,
    5px 5px white,
    6px 6px white;
    border-radius: .50rem;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}
/* The dots/bullets/indicators */
.dot {
    
    cursor: pointer;
    height: 5px;
    width: 25px;
    margin: 0 5px;
    background-color: #A4C6EE;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

.Bactive {
    color: white;
}

.height {
    min-height: 200px;
    display:flex;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.thirdpart{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.thirdpartbox {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column !important;
}
.emp {
    background-color:  #A4C6EE;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
}

.emp h1 {
    color: white;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}

.icons{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;

}

.i{
    width: 80%;
    height: auto;
    margin-left: 2px;
    margin-right: 2px;
    
}

.box5 {
    background-color: #505A6B;
    margin-bottom: 30px;
    height: 300px;
    width: 600px;
    border-radius: .40em;
    margin-left: auto;
    margin-right: auto;
}

.inbox5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.empbox-l {
    height: 100%;
    width: 50%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.img-b {
    min-width: 100%;
    height: auto;
}

img {
    height: 100%;
    width: auto;
}

.empbox-r {
    height: 100%;
    width: 50%;
    align-self: center;
    padding-right: 10px;
}

.box5:hover {
    box-shadow:
    1px 1px white,
    2px 2px white,
    3px 3px white,
    4px 4px white,
    5px 5px white,
    6px 6px white;
    border-radius: .40rem;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    transition: .5s ease;
}

.e {
    text-align: center;
    padding-top: 20px;
    margin-left: -15px;
    font-family: 'Roboto';
    font-size: 20px;
    color: white;
}

.form {
    width: 600px;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@media only screen and (max-width: 400px) {
    .B {
        font-size: 14px;
    }
}
@media only screen and (max-width: 805px) {
.logo {
    width: 50%;
    height: auto;
    display: flex;
  }
}
  @media only screen and (max-width: 400px) {
    .logo {
        width: 100%;
        height: auto;
        display: flex;
      }
    }
@media only screen and (max-width: 780px) {
    .img {
        padding-bottom: 200px;
    }

    .box4 {
        bottom: -60px;
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 770px) {
    img {
        width: 100%;
        height: auto;

    }
}

@media only screen and (max-width: 580px) {
    .inbox {
        flex-direction: column;
        height: auto;
    }
    .empbox-l{
        width: 100%;
        height: auto;
        padding-left: 0px;

    }
    .empbox-r{
        width: 100%;
        height: auto;
        padding-right: 0px;
    }
    .box5 {
        width: 100%;
        height: 100%;
        margin-bottom: 100px;
        padding-bottom: 30px;
    }
    .e {
        margin-left: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .form {
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
}