@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
body {
    background-image: url("bluebg.jpg");
}

.navtainer
{
    display:flex;
    background-color: #A4C6EE;
    width:100%;
}

.topbar {
    background-color: #A4C6EE;
    width: 100%; 
}

.topnav {
    background-color: #A4C6EE;
    overflow: hidden;
    width: 100%;
    padding-right:20px;
}

/* Style the links inside the navigation bar */
.topnav-right a {
    float: left;
    position: relative;
    color: #3A5485;
    text-align: center;
    padding: 10px 20px 15px 20px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    border-bottom:solid 3px transparent;

}

/* Change the color of links on hover */
.topnav-right a:hover {
    color: white;
    border-bottom: solid 3px white;
}

/* Add a color to the active/current link */
.topnav  a.active {
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}
.topnav #myLinks {
  display: none;
}
.topnav-right a.icon {
  display: block;
    float: left;
  position: absolute;
  right: 0px;
  top: 0px;
    width: 110%;
    height:auto;
}

.logo {
    display: flex;
    float: left;
}
.lowerbar{
    background-color: #505A6B;
    width: 100%;  
    padding: 10px 15px;
    margin-bottom: 50px;
}

.B {
    cursor: pointer;
    color: #A4C6EE;
    font-size: 20px;
}

.B:hover {
    cursor: pointer;
    color: white;
}


.roles {
    display: flex;
    justify-content: space-between;	
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.box{
    height: 400px;
    width: 100%;
    display: flex;
    background-color: grey;

}

.box2{
    background-color: #505A6B;
    padding-top: 40px;
    padding-bottom:60px;
    width:100%;
    
}


.responsive {
  width: 100%;
  height: auto;
}

.box4{
    height: auto;
    width: auto;
    display: flex;
    position: absolute;
    bottom: 20px;
    align-self: center;
    align-content: center;
    background-color: #A4C6EE;
    border-radius: .25rem;
   
}

.greeting{
    font-color: #505A6B !important;
    font-size: 20px;
}

p{
    padding: 10px 15px 15px 15px;
    color: white;
    font-family: 'Roboto';
}
/* Hide the images by default */
.mySlides {
    display: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    font-family: 'Roboto';
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.movingtext {
    font-family: 'Roboto';
    position: absolute;
    text-align: left;
    top: 0;
    padding-right: 35px;
    margin-bottom: 50px;
}
h1{
    color:  #A4C6EE;
    font-size: 40px;
    font-family: 'Roboto';
    text-align:justify;
    font-weight: bold;
}
h2, .typewrite {
    color: #505A6B !important;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: bold;
    line-height: 3px;
}

.btn {
    top: 50%;
    font-size:20px;
    font-family: 'Roboto';
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    position: absolute;
    background-color: #A4C6EE !important;
    border: 0px !important;
    text-align: center;
}

button:hover
{
 box-shadow:
1px 1px #4D4F50,
2px 2px #4D4F50,
3px 3px #4D4F50,
4px 4px #4D4F50,
5px 5px #4D4F50,
6px 6px #4D4F50;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
}
/* The dots/bullets/indicators */
.dot {
    
    cursor: pointer;
    height: 5px;
    width: 25px;
    margin: 0 5px;
    background-color: #A4C6EE;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: white;
}

.Bactive {
    color: white;
}

.height {
    min-height: 200px;
    display:flex;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.thirdpart{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.thirdpartbox {
    display: flex;
    flex-direction: column !important;
    padding: 1.25rem;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

